@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   transition: 0.3s ease-in-out;
   font-family: "Poppins", sans-serif;
}

.container_from {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.container_from::after {
   content: "";
   background: url(../img/1.jpg);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;

   z-index: -100;
   filter: blur(4px);
}

.container_from h4 {
   font-size: 1.5rem;
   position: relative;
   margin-bottom: 3rem;
}

.container_from h4::after {
   content: "";
   background: green;
   height: 4px;
   width: 50%;
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 0.5rem;
}

.container_from .all {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 3rem 2rem;
   border-radius: 0.5rem;
   position: relative;
   background: rgba(255, 255, 255, 0.486);
   backdrop-filter: blur(10px);
}

.container_from .all_input {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   position: relative;
}

.container_from input,
.container_from textarea {
   background: #f1eff1;
   padding: 0.5rem 2rem;
   font-size: 1rem;
   border-radius: 0.5rem;
}

.back_to_home {
   font-size: 1.3rem;
   text-transform: uppercase;
   color: black;
   background: rgba(255, 255, 255, 0.486);
   margin: 1rem;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   font-weight: 600;
   backdrop-filter: blur(5px);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 425px) {
   .container_from .all {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: none;
   }

   .container_from::after {
      background: white;
   }
}

/* preload */
#preloader {
   height: 100vh;
   width: 100%;
   background: rgb(255, 255, 255) url(../img/1_CsJ05WEGfunYMLGfsT2sXA.gif)
      no-repeat center center;
   background-size: 60%;
   position: fixed;
   z-index: 1010;
}
