@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   transition: 0.3s ease-in-out;
   font-family: "Poppins", sans-serif;
}

/* Root */
:root {
   --brand_color: #01a0ad;
   --black_color: rgb(0, 0, 0);
   --dark_white_color: #e8eaed;
   --white_color: rgb(255, 255, 255);

   --min_border_radous: 0.5rem;

   --main_box_shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header_section {
   display: flex;
   position: fixed;
   top: 1.5%;
   left: 50%;
   transform: translateX(-50%);
   background: var(--white_color);
   padding: 0.6rem 1rem;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   width: 90%;
   box-shadow: var(--main_box_shadow);
   z-index: 1000;
}

.header_section .logo {
   font-size: 1.6rem;
   cursor: pointer;
}

#menu_icon {
   width: 2rem;
   font-size: 1.6rem;
   display: none;
}

.header_section .nav_links {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.nav_links a {
   color: var(--black_color);
   padding: 0.5rem 0.8rem;
   border-radius: var(--min_border_radous);
}

.nav_links a:hover {
   background: var(--brand_color);
}

.nav_links a i {
   margin-right: 0.2rem;
}

.login_btn {
   padding: 0.5rem 0.8rem;
   background: #e8eaed;
   border-radius: var(--min_border_radous);
}
.login_btn:hover {
   background: #d0d0d1;
}

/* Home section */
.home_section {
   background: linear-gradient(rgba(47, 44, 56, 0.62), rgba(0, 0, 0, 0.11)),
      url(../img/1.jpg);
   background-size: cover;
   background-position: center;
   padding: 0 0.5rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   color: white;

   margin-bottom: 5rem;
}
.home_section h1 {
   font-size: 5vh;
   font-weight: 800;
   text-transform: capitalize;
   background: white;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 1rem;
}
.home_section p {
   font-size: 1.2rem;
   color: rgb(228, 228, 228);
   margin-bottom: 1rem;
}

.home_section button {
   font-size: 1.2rem;
   background: var(--white_color);
   font-weight: 500;
   padding: 0.5rem 1rem;
   border-radius: var(--min_border_radous);
   cursor: pointer;
}

.home_section button:hover {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Popular destinactions */

.popular_destination {
   display: flex;
   width: 90%;
   margin: 2rem auto;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}

.popular_destination h1 {
   font-size: 3rem;
}

.popu_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 5rem;
   margin-bottom: 3rem;
}

.popu_text {
   width: 45%;
   display: flex;
   flex-direction: column;
   text-align: left;
   align-items: flex-start;
   gap: 1rem;
}
.popu_image {
   width: 45%;
   justify-content: space-between;
   position: relative;
   display: flex;
   padding-top: rem;
}

.popu_image img {
   width: 49%;
   height: 20rem;
   object-fit: cover;

   border-radius: var(--min_border_radous);
   box-shadow: var(--main_box_shadow);
}

.popu_image img:nth-child(2) {
   position: absolute;
   margin-top: -10%;
   right: -0%;
}

/* Recent tips Section */
.recent_tips {
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 2rem;
   gap: 1rem;
   margin-bottom: 5rem;
}

.contant {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 2rem;
}

.card {
   width: 25rem;
   padding: 1rem;
   box-shadow: var(--main_box_shadow);
   border-radius: var(--min_border_radous);
   text-align: left;
}

.card img {
   width: 100%;
   border-radius: var(--min_border_radous);
}

/* Foter section */
.footer_section {
   background: var(--black_color);
   color: white;
   padding: 4rem;
}

.footer_section a {
   clear: var(--white_color);
}
.top_contant {
   padding: auto 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.bottom_content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 2rem;
}

.tags {
   display: flex;
   flex-direction: column;
}

.tags a {
   color: white;
}

.porject {
   margin-top: 2rem;
}

/* Meadia queris */
@media (max-width: 1024px) {
   .nav_links {
      position: absolute;
      top: 100%;
      left: -150%;
      transform: translateX(-50%);
      background: white;
      box-shadow: var(--main_box_shadow);
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem 0rem;
      z-index: -100;
      border-radius: var(--min_border_radous);
      opacity: 0;
      align-items: center;
      text-align: center;
   }
   .menu_show {
      opacity: 1;
      left: 50%;
   }

   #menu_icon {
      display: block;
   }

   .nav_links a {
      width: 90%;
   }
}

/* Max width 850 */

@media (max-width: 850px) {
   .popu_container {
      flex-direction: column-reverse;
   }

   .popu_image {
      width: 100%;
      margin: 3rem 0rem;
   }

   .popu_text {
      width: 100%;
      text-align: start;
   }
}

@media (max-width: 425px) {
   .popu_container {
      flex-direction: column-reverse;
   }

   .popu_image {
      display: flex;
      flex-direction: column;
   }

   .popu_image img {
      width: 100%;
      margin: 3rem 0rem;
   }
   .popu_image img:nth-child(2) {
      position: relative;
   }

   .popu_text h1 {
      font-size: 1.5rem;
   }
}
#preloader {
   height: 100vh;
   width: 100%;
   background: rgb(255, 255, 255) url(../img/1_CsJ05WEGfunYMLGfsT2sXA.gif)
      no-repeat center center;
   background-size: 60%;
   position: fixed;
   z-index: 1010;
}
